.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    //background-color: var(--main-bg);

    &__container {
        display: flex;
        align-items: center;
    }

    &__button {
        min-width: 160px;
        min-height: 40px;
        font-family: inherit;
        font-weight: 600;
        font-size: 12px;
        line-height: calc(16 / 12);
        letter-spacing: 0.09em;
        text-transform: uppercase;
        color: var(--secondary-txt-cl);
        background: transparent;
        padding: 11px 19px;
        border: 1px solid #ff6c00;
        border-radius: 25px;
        background-color: inherit;
        cursor: pointer;
        transition: background-color var(--animation);
    }
    &__button:hover,
    &__button:focus {
        background-color: var(--orange-bg);
    }
    &__contact {
        margin-left: auto;
    }
}
