.hero {
    background-image: linear-gradient(to right, #ffffff 155px, rgba(25, 28, 38, 0.2) 155px),
        url("/images/background/hero-bg.jpg");
    height: 680px;
    max-width: 1280px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin-left: auto;
    margin-right: auto;
    &__left--side {
        width: 100px;
        display: flex;
        align-items: flex-end;
    }
    &__right--side {
        margin-left: 100px;
    }
}
